---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Landing from '../components/Landing.astro';
import Featured1 from '../components/Featured1.astro';
import AboutUs from "../components/AboutUs.astro";
import ReachUs from "../components/ReachUs.astro";
import Footer from "../components/Footer.astro";
import Reviews from "../components/Reviews.astro";
---

<Layout title="Welcome to Astro." >
	<div class="relative ">
		<main>
		<Navbar />
		<Landing />
		<Featured1 />
		<AboutUs />
		<Reviews />
		<ReachUs />
		<Footer />
		<div class="flex flex-col space-y-4 fixed bottom-14 right-10">
			<a href="tel:+91 9540097089" target="_blank"><img class="h-11 w-auto"  src="/public/images/call.webp" alt="Sai Properties Call Icon" /> </a>
			<a href="https://api.whatsapp.com/send/?phone=919540097089" target="_blank"><img class="h-12 w-auto"  src="/public/images/whatsapp.webp" alt="Sai Properties Whatsapp Icon" /></a>
		</div>
		</main>
	</div>
</Layout>

