<div id="aboutus" class="overflow-hidden shadow-xl rounded-br-[30%] bg-white py-16 ">
    <div class="mx-auto max-w-[1380px] px-6 lg:pr-8 lg:pt-4">
      <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="flex justify-center items-center w-full">
            <img src="/public/images/office-interiors.jpg" alt="commercial property on lease and rent" class="w-full  rounded-xl shadow-xl ring-1 ring-gray-400/10 md:-ml-4 lg:-ml-0" >
        </div>       

        <div>
          <div >
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About Us</p>

            <dl class="mt-10 max-w-xl space-y-3 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative">
                <dt class="inline text-lg font-semibold text-gray-900">
                  <!-- <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg> -->
                  Trustable
                </dt>
                <dd>Sai Properties is here to ensure that you do not have a daunting experience. We provide you full transparency with billing so you are reassured and are able to fully trust us with your needs for your preferred property in prime locations.</dd>
              </div>
              <div class="relative">
                <dt class="inline font-semibold text-gray-900">
                  <!-- <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg> -->
                  Experienced
                </dt>
                <dd> With years of knowledge in the realin real estate industry, we have a good market idea and are determinedand determined to find you the perfect space that you seek.</dd>
              </div>
              <div class="relative">
                <dt class="inline font-semibold text-gray-900">
                  <!-- <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                    <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                  </svg> -->
                  Market Knowledge
                </dt>
                <dd>Since years we have been in this renowned industry and are able to decode the market trends and find you the best place with our keen eye and attention to detail. 
                </dd>
              </div>
              <div class="relative">
                <dt class="inline font-semibold text-gray-900">
                  <!-- <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                    <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                  </svg> -->
                  Budget Friendly
                </dt>
                <dd>Diverse People have diverse needs and we make sure to cater to each one of our clients which is why we discuss, recommend and hunt properties according to the client’s preferred budget.
                </dd>
              </div>
              <div class="relative">
                <dt class="inline font-semibold text-gray-900">
                  <!-- <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                    <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                  </svg> -->
                  After Sale Assistance
                </dt>
                <dd>We truly believe that our customers will end up with great deals offered by us because of which we offer afteroffer an after sale assistance for all our clients.
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  