<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div id="reachus" class="relative isolate overflow-hidden bg-gray-900 py-16 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid items-center justify-center max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
        <div class="max-w-xl lg:max-w-lg">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Reach out to us!</h2>
          <p class="mt-4 text-lg leading-8 text-gray-300">If you are looking for office spaces for rent or a commercial property on lease, you can definitely book a meeting with our agents and take a run through all the plots and spaces we have available.</p>
        </div>
        <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.6894523232036!2d77.24903117934572!3d28.54905260000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce30a698b022d%3A0x4e35a12079495d4!2sSai%20Properties!5e0!3m2!1sen!2sin!4v1721536366653!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </dl>
      </div>
    </div>
 
  </div>
  