---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Sai Properties: Real Estate Agent in South Delhi</title>
		<meta name="description" content="We help you find your perfect-fit commercial and office spaces for rent and on lease in Delhi and Eros Corporate Tower in budget!" />
		<meta name="keywords" content="office for lease, office for rent, commercial office space on rent, business office space for rent, corporate office for rent, corporate office space for lease, real estate agent">
	</head>
	<body>
		<slot />
	</body>
</html>
